<form method="post" action="/productos">

    <input type="text"  title="name"    placeholder="Nombre del producto">
    <br><br>
    <input type="number"  title="price"   placeholder="Valor del producto">
    <br><br>
    <input type="text"  value="https://res.cloudinary.com/hdsqazxtw/image/upload/v1570710978/coderhouse.jpg"    hidden  >
    <button type="submit"   method="post">Enviar producto</button>
    </form>