<%- include('./templates/header',   {tituloWeb:'Index'})%>
<div class="container my-5">
    <div   class="jumbotron text-center text primary">
        <h1>
            <span   class="fa fa-lock">
            </span>
            Autenticacion con Facebook
        </h1>
        <br>
        <a href="/api/auth/facebook"    class="btn btn-primary"><span   class="fa fa-facebook"></span>Login</a>
    </div>
</div>
<%- include('./templates/footer')%>