<h1>HOLA HBS WEBSOCKETS</h1>

{{>form}}

<br><br>

{{>list}}

<br><br>

{{>contacts}}

<!--h1>PRODUCTOS LIST</h1>

<table  style="width: 100%;">
    <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th>Imagen</th>
    </tr>
    {{#each testArr}}
    <tr>
        <th>{{this.title}}</th>
        <th>{{this.price}}</th>
        <th><img src="https://uploads-ssl.webflow.com/5f4d2915aacbff8a3255cf1b/60b68f6a34b2e95700900f3b_coderhouse-logo.svg" height="50px"    width="150px"></th>
    </tr>
    {{/each}}
</table-->

